
.profile{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
    font-family: Poppins;
}

.profile-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1em 2em;
    background-color: aliceblue;
    border-radius: 15px;
    gap: 1em; /* Add some space between the rows */
}

.p-items {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 48%; /* Adjust width to fit two items per row */
    min-width: 300px; /* Adjust as necessary for responsiveness */
}

.p-items label {
    font-weight: 600;
    font-size: 1.2rem;
}

.p-items input {
    font-size: 1.1rem;
    font-family: Poppins;
    all: unset;
}

.p-image{
 border: 1px solid black;
 width:70px;
 height: 70px;
 border-radius: 50%;
}

